## Question 01 - What is a database? Differentiate between SQL and NoSQL databases.

# Answer :- 

A database is a structured collection of data that is organized and stored in a computer system. It is designed to provide a centralized location for storing and managing data, making it easy to access and manipulate that data as needed. Databases can be used for a wide range of applications, from managing customer data in a business to storing scientific data for research purposes.

SQL and NoSQL databases are two different types of databases that have different approaches to managing and organizing data. Here's how they differ:

# SQL databases:

1. SQL (Structured Query Language) databases are relational databases that use a structured schema to define the tables, columns, and relationships between the data. They are based on the relational model and are designed to store and manage structured data. SQL databases are ideal for applications where data needs to be structured and organized, such as in finance, human resources, and e-commerce. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

# NoSQL databases:

1. NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that use a dynamic schema to define the data. They are designed to store and manage unstructured or semi-structured data, such as text, documents, and multimedia. NoSQL databases are ideal for applications where data needs to be flexible and scalable, such as in social media, gaming, and big data analytics. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, the main difference between SQL and NoSQL databases is that SQL databases are structured and relational, while NoSQL databases are unstructured and non-relational. The choice between the two types of databases depends on the nature of the data and the requirements of the application being developed.

## Question 02 - What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# Answer :-

DDL stands for Data Definition Language, which is a set of SQL statements used to define the structure of a database and the objects within it. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

The following are some common DDL statements and their uses:

1. CREATE: The CREATE statement is used to create a new database object, such as a table, index, or view. For example, the following statement creates a new table named "customers" with columns for customer ID, name, and email:

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

2. DROP: The DROP statement is used to remove an existing database object, such as a table or view. For example, the following statement drops the "customers" table:

DROP TABLE customers;

3. ALTER: The ALTER statement is used to modify the structure of an existing database object. For example, the following statement adds a new column called "phone" to the "customers" table:

ALTER TABLE customers ADD phone VARCHAR(20);

4. TRUNCATE: The TRUNCATE statement is used to delete all data from a table without deleting the table itself. For example, the following statement removes all data from the "customers" table:

TRUNCATE TABLE customers;

In summary, DDL statements are used to define the structure of a database and the objects within it. The CREATE statement is used to create new objects, the DROP statement is used to delete objects, the ALTER statement is used to modify objects, and the TRUNCATE statement is used to remove data from tables.

## Question 03 - What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Answer :- 

DML stands for Data Manipulation Language, which is a set of SQL statements used to manipulate the data within a database. DML statements are used to insert, update, and delete data from tables.

The following are some common DML statements and their uses:

1. INSERT: The INSERT statement is used to add new data to a table. For example, the following statement adds a new record to the "customers" table:


INSERT INTO customers (id, name, email) VALUES (1, 'Gourav', 'gouravpatil@gmail.com');

2. UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following statement updates the email address for the record with an ID of 1 in the "customers" table:

UPDATE customers SET email = 'gouravpatil@gmail.com' WHERE id = 1;

3. DELETE: The DELETE statement is used to remove data from a table. For example, the following statement deletes the record with an ID of 1 from the "customers" table:

DELETE FROM customers WHERE id = 1;

In summary, DML statements are used to manipulate the data within a database. The INSERT statement is used to add new data, the UPDATE statement is used to modify existing data, and the DELETE statement is used to remove data.

## Question 04 - What is DQL? Explain SELECT with an example.

# Answer :-

DQL stands for Data Query Language, which is a set of SQL statements used to retrieve data from a database. The most common DQL statement is the SELECT statement, which is used to retrieve data from one or more tables.

The SELECT statement is used to specify which columns to retrieve, which table or tables to retrieve them from, and any conditions that must be met. The basic syntax for the SELECT statement is as follows:

SELECT column1, column2, ... FROM table1 WHERE condition;

Here is an example of how to use the SELECT statement to retrieve data from a "customers" table:


SELECT id, name, email FROM customers WHERE email LIKE '%example.com';

In this example, the SELECT statement retrieves the "id", "name", and "email" columns from the "customers" table where the email address ends with "example.com". The "%" character is a wildcard that matches any sequence of characters.

The result of this query would be a set of rows containing the "id", "name", and "email" columns for all customers whose email address ends with "example.com".

In summary, the SELECT statement is a DQL statement used to retrieve data from one or more tables in a database. It is used to specify which columns to retrieve, which table or tables to retrieve them from, and any conditions that must be met.

## Question 05 - Explain Primary Key and Foreign Key.

# Answer :-

# Primary Key
In a relational database, a primary key is a column or a combination of columns that uniquely identifies each row in a table. A primary key constraint is used to enforce the uniqueness of the primary key, and it ensures that the values in the primary key columns are not null.

# Foreign Key
A foreign key, on the other hand, is a column or a combination of columns that refers to the primary key of another table. The foreign key constraint is used to enforce referential integrity between the two tables, which means that the values in the foreign key column(s) must match the values in the primary key column(s) of the other table.

## Question 06 - Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [10]:
# Answer :-

import mysql.connector

# establish the connection
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM customers")

# fetch the results
results = mycursor.fetchall()

# print the results
for result in results:
  print(result)

In this example code, we first import the mysql.connector module and then use the connect() method to establish a connection to the MySQL database.

Next, we create a cursor object using the cursor() method, which is used to execute SQL statements and fetch the results.

The execute() method of the cursor object is used to execute a SQL query. In this case, we are executing a simple SELECT query to retrieve all the rows from the customers table.

The fetchall() method is used to fetch all the rows returned by the query, and we can then iterate over the results and print them.

Note that the cursor() method and the execute() method are commonly used together to execute SQL queries and fetch the results in Python. The cursor() method creates a new cursor object that can be used to execute SQL statements, and the execute() method is used to execute the SQL statement passed as an argument. Once the statement is executed, the results can be fetched using methods like fetchall(), fetchone(), or fetchmany().

## Question 07 - Give the order of execution of SQL clauses in an SQL query.

# Answer:-

In an SQL query, the order of execution of the clauses is as follows:

1. SELECT: This clause is used to specify the columns that you want to retrieve from the table. It is always the first clause in an SQL query.

2. FROM: This clause is used to specify the table or tables that you want to retrieve data from.

3. JOIN: This clause is used to join multiple tables together based on a common column.

4. WHERE: This clause is used to specify a condition that must be met by the data in order to be retrieved.

5. GROUP BY: This clause is used to group the data by one or more columns.

6. HAVING: This clause is used to specify a condition that must be met by the groups in order to be included in the results.

7. ORDER BY: This clause is used to sort the data by one or more columns.

8. LIMIT: This clause is used to limit the number of rows returned by the query.

It's important to note that not all of these clauses are required in every SQL query. The only required clause is SELECT, which is used to retrieve the columns that you want to view. The other clauses can be added as needed to refine the results of the query.